streamlit==1.33.0
crewai==0.30.0
langchain==0.3.25
langchain-community>=0.2.19,<0.3.0
huggingface_hub==0.14.1
requests
plotly
pandas
pysqlite3-binary
rich==13.7.0
tiktoken==0.7.0
chromadb==0.4.24
posthog==3.0.2
markdown-it-py
mdurl
pygments
typing-extensions
